.heading {
    padding-top: 5px;
    margin-top: 8px;
    color: #153063;
}

.card {
    width: 80%;
    margin-left: 0px;
}

.card-body {
    width: 64%;
    margin-left: 18%;
    margin-top: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.page {
    margin-top: 50px;
    margin-bottom: 50px;
}

.float-right {
    color: #7a7a7a;
    font-weight: 450;
    float: right;
}

.today,
.tomorrow {
    color: #153063;
    font-size: 25px;
    font-weight: 600;
}

.heading2 {
    margin-top: 6%;
}

.form-control{
    position: absolute;
    top: 50px;
    width: 55%;
    height: 45px;
    margin-left: 10%;  
}

.fa-star {
    position: relative;
    color: #7a7a7a;
    top: 35px;
    left: 70px;
}

.fa-circle-thin {
    position: relative;
    top: 35px;
}

.fa-calendar {
    position: relative;
    top: 35px;
    left: 40px;
}

.fa-bars {
    position: relative;
    top: 35px;
    left: 15px;
    color: #136fe8;
}

.search-btn {
    position: relative;
    top: 30px;
    right: 130px;
}

.navTask {
    position: relative;
    color: #136fe8;
    top: 35px;
    border-bottom: solid 1px #136fe8;
    right: 8px;   
    text-decoration: none;
}

.archive {
    position: relative;
    top: 35px;
    right: -10px;
    text-decoration: none;
}

form {
    position: relative;
    width: 500px;
    height: 150px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

.addIcon {
    position: absolute;
    right: 25px;
    bottom: -18px;
    background: #6D9886;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.updateForm {
    width: 480px;
    margin-left: auto;
}

.dltBtn {
    width: 60px;
    padding: 5px;
    float: right;
    margin-top: -63px;
    margin-right: 15px;
}

.editBtn {
    width: 60px;
    padding: 5px;
    float: right;
    margin-top: -63px;
    margin-right: 90px;
}

.time {
    color: #7a7a7a;
    font-size: 17px;
    margin-left: 8px;
    float: right;
}

.fa-plus {
    display: inline-block;
    border-radius: 25px;
    background-color: #e3e1e1;
    color: #7a7a7a;
    size: 10px;
    padding: 2px;
}

.task {
    color: #153063;
    font-weight: 500;
    font-size: 16px;
    height: 14px;
    text-align: left;
}

.task-head {
    text-align: left;
    color: #153063;
    font-weight: 650;
}

.note p {
    font-size: 17.5px;
}
.takenote {
    height: 52px;
}

.fa-thumb-tack,
.fa-exchange,
.fa-user {
    background-color: #7a7a7a;
    color: white;
    display: inline-block;
    border-radius: 25px;
    padding: 3px;
    margin-left: 4px;
}
.input {
    height: 158px;
}

.card-header {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white !important;
    padding: 0px;
    margin-top: 2%;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-family: inherit;
}

.footer p {
    color: #ccc;
}

@media only screen and (max-width: 600px) {
    .card {
        font-size: 11px;
    }

    .time {
        font-size: 6px;
    }
}